

/*---------------------------- hero-image ----------------------------*/
.hero-image {
  /* The image used */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.hero-image  .hero-text {
  text-align: center;
  color: #fff;
  width: 70%;
}
.hero-image  .hero-text h2{
    font-weight:100;
    font-family: arial ,tahoma;
    font-size: 22px;
}

.text-white{ color: #fff !important;}
.mb-100{margin-top: 50px !important;margin-bottom: 100px !important;}
.mb-80{margin-top: 20px !important;margin-bottom: 60px !important;}
.hero-btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin: 2rem auto;
  font-size: 1em;
  letter-spacing: 0.05em;
  padding: 5px 30px;
  cursor: pointer;
  position: relative;

}
/* .hero-btn:hover {
  border: 3px ridge #fff;
  padding: 5px 30px;
} */
.hero-btn::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 0 rgba(255,255,255);
  transition: box-shadow .3s ease;
}
.hero-btn:hover::after {
  box-shadow: inset 0 0 0 3px rgba(255,255,255);
}

.hero-arrow {
  color: #fff;
  margin: 2rem auto;
  width: 2.5em;
  transition: .5s;
}
.hero-arrow:hover{
  height: 35px;
  width: 2em;
}

/* 
.hero-image > div:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-image > div:last-child {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}  */
/*---------------------------- end hero-image style ----------------------------*/

/* Start Home page style */

/* brands section*/

.brands ul {
  flex-wrap: wrap;
  justify-content: center;
}
.brands ul li {
  margin-right: 30px;
}
.brands ul li a {
  transition: all 0.3s ease-in-out;
  color: #9b9999;
  font-family: 'BigCaslon'  !important;font-size:24px !important;
}

.brands ul li a.active,
.brands ul li a:hover,
.brands ul li:nth-child(3)::after {
  text-decoration: underline;
  color: black;
 

}
.owl-prev span{
  font-family:'AlegreyaSansScMedium' !important;
  font-size: 16px !important;
  font-weight: 100 !important;
 
}
.owl-next span{
  font-family:'AlegreyaSansScMedium' !important;
  font-size: 16px !important;
  font-weight: 100 !important;
  transform-origin:0 !important;
 
}
.brands .slider {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  /* align-items: baseline; */
}

.owl-next,
.owl-prev {
  text-decoration: underline;
  color: #9b9999 !important;
  font-weight: bold !important;
  width: 15px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
}
.owl-next{
  right: -50px;
}
.owl-prev {
  left: -50px;
}
.owl-next span,
.owl-prev  span {
  display: block !important;
  transform-origin: 80%;
}
.owl-next span {
  transform: rotate(90deg);
  text-transform: lowercase !important;
}
.owl-prev  span {
  transform: rotate(-90deg);
  text-transform: lowercase !important;
}

/* end brands section*/

/* latest news */
.latest-news {
  background-color: #f2f0f0;
}
.news .news-box{
  flex: 45%;
  margin:20px 10px;
}
.latest-news {
  padding: 10px;
  margin: 0 0 25px;
}
 .sort-news{
  position: relative;
  width: 150px;

}
 .sort-news::after{
  content: '+';
  right: -65px;
  top: 0;
  position: absolute
  
}
.sort-news span{ border-bottom: 2px solid #999;padding-right: 170px;}
/* end latest news */


.branches .tlt-logo {
  margin-bottom: -25px;
}

.branches .branches-body {
  padding: 50px 10px;
  border: 2px solid #d6d5d5;
}

.branches .branches-body > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  color: #98968d;
}

.brand-name {
  width: 12.5%;
  text-align: left;
  font-size: small;
  padding-left: 30px;
  color: #999;
}
.brand-logo {
  width: 85%;
}
.brand-logo img{
  transition: .5s;
  padding: 0 20px;
  
}
.brand-logo img:hover{
  opacity: .5;
}

/* End Home page style */

/* About page*/
.about-section  .branches-list li{
  margin: 0.5em 0;
}
.about-section  .branches-list li a{
  font-size: 0.8em;
 
}

/* End About page*/

@media only screen and (max-width: 1200px) {
  /*About page*/
  .about-section article {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .about-section article > div {
    width: auto !important;
    height: auto !important;
  }
  .order-first-sm {
    order: -1;
  }
  .order-last-sm {
    order: 13;
  }
  /*End About page*/
}
/*
@media (max-width: 900px) {
}
*/

@media (min-width: 992px) {
  main ul, footer ul {
    margin: 0 auto;
  }
  main ul li, footer ul li{
    /* margin: 0.5em .3em !important; */
    padding: 0;
  }
  
}
@media (max-width: 991px) {
  main ul, footer ul {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  main ul li, footer ul li{
    margin: 0.5em 0 !important;
    padding: 0;
  }
  .sort-news{
    margin: 10px auto;
  }
}

@media (max-width: 500px) {
  .fs-mobile{
    font-size: 0.8em;
  }

}

@media (max-width: 325px) {
  .fs-mobile{
    font-size: 0.6em;
  }
  footer ul:last-child li:last-child {
    width: auto;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .w-mobile-80{
    width: 80% !important;
  }
  .w-mobile-100{
    width: 100% !important;
  }
  .brand-name {
    width: 100%;
    text-align: center;
    padding-left: 0px;
    margin: 1em 0;
  }
  .brand-logo {
    width: 100%;
  }
}

/*------------------------start  barnd-events --------------------------*/
/*header section background */
  .brand-events ,
  .brand-living ,
  .brand-hospitality,
  .can-limon {
    min-height: 100vh;
    background :  no-repeat ;
    background-size : cover;
    background-position:  center top;
    
  }
/*end header section */

/* main */
/*tlt start grouping pages */
  /**************************************************/
  .tlt-events ,.tlt-hospitality , .tlt-living{
    min-height: 120vh;padding: 100px 0;
    border-bottom: 3px solid #f0Efee;
    box-shadow: 2px 2px 10px #d6d5d5;
  }
  .tlt-events{padding: 20px 0;}
  @media (max-width:767px){
    .tlt-events ,.tlt-hospitality , .tlt-living{
      padding: 100px 0 20px;
    }
  }
  .tlt-hospitality {
    padding: 100px 0 0px;
  }
  .tlt-events .tlt-concept, .tlt-hospitality .tlt-concept , .tlt-living .tlt-concept {
    min-height: 250px;
    background: #F0EFEE;
    padding: 20px 0 0;
    margin-bottom: 80px;
  }

  .tlt-events .tlt-concept{
   padding: 20px 0 3px;min-height: 100px; 
  }
  .tlt-hospitality .tlt-concept p ,  .tlt-living .tlt-concept p {
    margin: 50px auto;
    max-width: 880px;
    font-size: 23px;
    line-height:1.2;
  }
  .tlt-events .tlt-concept p {
    margin: 0 auto;max-width: 880px;
    width: 60% !important;
    

  }

  /**************************************************/  
  .about-events .event-box .last-text,
  .about-living .living-box .last-text
  {
    margin: 150px auto;
  }
  .about-events,
  .about-hospitality,
  .about-living
  {
    padding: 100px 0 0;
  }
  .boxtobox{height: 100vh;margin-bottom:1% !important ;overflow: hidden;}
  .hospitality-box .boxtobox{margin-bottom: 50px;}
  .living-box .boxtobox{margin-bottom: 10%;}
  @media(max-width:767px){
    .event-box .boxtobox{
      margin-bottom: -200px !important;
    }
  }
  @media(min-width:768px)and (max-width:991px){
    .event-box .boxtobox{
      margin-bottom: -150px !important;
    }
  }

  .about-events .event-box .text-box ,
  .about-living .living-box .text-box
  {
    padding: 70px 0;
  }
 
  .mt-25{
    margin: 18vh auto;padding: 0;
    
  }
 
  .about-events .event-box .text-box img ,
  .about-hospitality .hospitality-box .text-box img,
  .about-living .living-box .text-box img
  {
    padding: 10px 0;
    width: 20%;
    margin-bottom: 2rem;
  }
  .about-hospitality .hospitality-box .text-box img{
    padding: 20px 0;
    
  }
  .about-events .event-box .text-box p,
  .about-hospitality .hospitality-box .text-box p,
  .about-living .living-box .text-box p
  {
    padding: 10px 0  ;
    width: 53%;
    margin: 0 auto;font-size: 16px;
    line-height: 1.2;
  }
  .about-events .event-box .text-box a , 
  .about-hospitality .hospitality-box .text-box a,
  .about-living .living-box .text-box a
  {
   
    margin: 5px 0 8px 0;

    font-family:'AlegreyaSansScMedium' !important;font-size: 16px !important;
  }
 
  
  .about-hospitality .hospitality-box .img-box ,
  .about-events .event-box .img-box,
  .about-living .living-box .img-box { 
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }
 
  .about-events .event-box .img-box img,
  .about-hospitality .hospitality-box .img-box img ,
  .about-living .living-box .img-box img
  {
    max-height: 90%;
    width: 100%;
    
  }
  
  .about-living .living-box .text-box img {
    padding: 0;
  }
  .about-tlt .tlt-concept {
    margin-bottom: 0px;
  }
  .about-tlt{border: none;box-shadow: none;}
  .about-p{
    padding: 3% 14%;
  }
  @media (max-width:767px){
    .about-p{
      padding: 2% 3%;
    }
    .about-events .event-box .text-box img ,
    .about-hospitality .hospitality-box .text-box img,
    .about-living .living-box .text-box img
    {
      padding: 0;
      width: 40%;
      margin-bottom: .5rem;
    }
  }
  .branch-tree h2 {margin-top: 50px !important;}
  .branch-tree p{width: 57%;margin: 0 auto;margin-top: 20px;}
  @media (min-width:768px) and (max-width:991px){
    .branch-tree p{width: 80%;margin: 0 auto;margin-top: 50px;}
  }
  @media (max-width:767px){
    .branch-tree p{width: 90%;margin: 0 auto;margin-top: 50px;}
    .about-events .event-box .text-box {
      margin-top: 50px;
    }
  }
/* // about tlt events */
.hospitality-box .col-md-6 ,
.living-box .col-md-6 ,
.about-events .col-md-6{
  padding: 0;
}
.tlt-living .tlt-concept p {width: 46%;}

.about-events .event-box .last-text,
.about-living .living-box .last-text
{
  margin: 150px auto;
}
@media(min-width:1200px){
  .mt-15{margin: 5vh auto 0;}
}
@media(min-width:992px) and (max-width:1199px){
  .about-hospitality .hospitality-box .text-box{
    margin: 10vh auto;padding: 0;
  }
  .mt-15{margin: 0vh auto 0;}
  .hospitality-box .boxtobox{margin-bottom: -50px;}
}
@media(min-width:768px) and (max-width:991px){
  .about-hospitality .hospitality-box .text-box{
    margin: 10vh auto;padding: 0;
  }
  .mt-15{margin: 0vh auto 0;}
  .hospitality-box .boxtobox{margin-bottom: -150px;}
  .about-hospitality .hospitality-box .text-box p{line-height: 1;}
  .about-hospitality .hospitality-box .text-box img{padding: 0px 0 5px 0;}
  .about-hospitality .hospitality-box .text-box{padding: 0;}
}
.show-p{display: none;}
@media(max-width:767px){
  .hide-p{display: none;}
  .show-p{display: block;width: 100%;}
  .mt-15{margin: 10px 0;}
  .about-hospitality .hospitality-box .text-box{
    margin: 0 auto;padding: 0;
  }
}
@media(min-width:992px) and (max-width:1199px){
  .about-living .living-box .text-box{
    margin: 10vh auto;padding: 0;
  }
  .about-living .boxtobox{margin-bottom: 0;}
  .about-living .living-box .last-text{margin: 150px auto !important ;}
}

/*------------- start can limon ---------------*/
.we-can-do{padding: 100px 0 30px;}

.we-can-do .content-box{min-height: 50vh;margin-bottom: 0px;overflow: hidden;}

.we-can-do .text-box {height: 100%;width:67%;}
.we-can-do .text-box h4{margin:70px 0 10px ;letter-spacing: 2px;}
.we-can-do .img-box{width: 100%;height: 100%;}
.we-can-do .text-box-2{width: 85%;}
.we-can-do .text-box-2 h4{
  margin-top: 120px !important;
  letter-spacing: 2px;
  margin-left: 5rem;
}
.we-can-do .text-box-2 p{margin-left: 5rem;}
.text-h4 {margin-left: 5rem !important}
.boutique-text{width: 68% !important}
.p-94{width: 94% !important;}
.p-92{width: 92% !important;}
.p-90{width: 90% !important;}
.p-95{width: 95% !important;}
@media (max-width:767px){
  .we-can-do{padding: 20px 0 }
  .we-can-do .content-box{overflow: hidden;}
  .we-can-do .text-box {width: 100%;text-align: center;}
  .we-can-do .img-box{width: 95%;margin: 10px auto;}
  .we-can-do .content-box img{width: 100%;margin: 0 auto;}
  .we-can-do .text-box-2{width: 95%;margin: 0 auto;}
  .we-can-do .text-box-2 h4{margin-top: 0px !important;text-align: center;margin-left: 0;}
  .we-can-do .text-box-2 p{margin-left: 0;text-align: center;}
  .text-h4{margin-left: 0 !important;}
  .boutique-text {width: 100% !important;}
  .p-94,.p-92,.p-90,.p-95{width: 100% !important;}
}
@media (min-width:768px) and (max-width:991px){
  .we-can-do .text-box h4{margin: 0;}
  .we-can-do .text-box {width: 95%;}
  .we-can-do .text-box-2{width: 100%;}
  .we-can-do .text-box-2 h4{margin-top: 0px !important;margin-bottom: 5px;text-align: left;margin-left: 0;}
  .we-can-do .text-box-2 p{margin-left: 0;font-size:14px;}
  .we-can-do .text-box p{font-size:14px;}
}
@media (min-width:992px) and (max-width:1199px){
  .we-can-do .text-box h4{margin: 0;}
  .we-can-do .text-box {width: 80%;}
  .we-can-do .text-box-2{width: 80%;}
  .we-can-do .text-box-2 h4{margin-top: 0px !important;margin-bottom: 5px;text-align: left;margin-left: 10px;}
  .we-can-do .text-box-2 p{margin-left: 10px;}
}
.m-bb{margin-top: 100px;}
@media (max-width:767px){
  .we-can-do .text-box h4{margin: 10px;}
  .head-h2{font-size: 18px;}
  .wedding .hero-btn{padding: 8px 10px;}
  .m-bb{margin-top: 30px;}
}

/*----------- // can limon -----------*/

/*----------more-detalis-----------*/
.more-detalis{
  width: 700px;min-height: 220px;
  background: #F2F0F0;padding: 60px 0;
  margin:20px auto 100px;
}
.more-detalis-1{
  width: 700px;min-height: 400px;
  background: #F2F0F0;
  padding: 60px 0;margin:50px auto 100px
}
@media (max-width:767px){
  .more-detalis,.more-detalis-1{width: 100%;padding: 30px;margin: 10px auto 30px;}
}
/*-----------// more detalis --------*/
/*----------view-img -----------*/
@media (min-width:1200px){
  .img-l{margin-left: -15px;}
  .img-r{margin-left: 15px;}
}

.for-line{border-top: 2px solid #d6d5d5;}
.view-img {min-height: 200px;}
.view-img-2{border-top:none}
@media (max-width:767px){
  .view-img .item{margin-top: 20px;}
}
@media (min-width:768px) and (max-width:991px){
  .view-img .item{margin: 15px;}
}

/*--------------* careers page *-----------*/
  .career{margin: 100px 0;}
  .career .career-content{margin-bottom: 100px;}
  .career-content .text-box{margin: 100px 30px 0;padding: 0 50px;}
  .career-content .img-box{width: 100%;}
  .career-celebrate{
    min-height: 40vh;background-color: #F0EFEE;
    padding: 80px 0;margin-bottom: 90px;
  }
  .career-celebrate .celebrate{width: 40%;margin: 0 auto;}
  .join-family{min-height: 40vh;background-color: #F0EFEE;padding: 80px 0;}
  .join-family p{width: 40%;margin: 0 auto;}
  @media (max-width:767px){
    .career{margin: 50px 0}
    .career-content .text-box{margin: 30px 0 0;text-align: center;}
    .career-content .img-box{width: 90%;margin: 15px auto;}
    .career-celebrate .celebrate{width: 90%;}
    .join-family p{width: 90%}

  }
  @media (min-width:768px) and (max-width:991px){
    .career-content .text-box{margin: 30px 0 0;text-align: center;}
    .career-content .text-box p{font-size: 14px;}
    .career-content .img-box{width: 90%;margin: 15px auto;}
    .career-celebrate .celebrate{width: 70%;}
    .join-family p{width: 90%}
  }
/*---------// careers page //--------------*/


/* page contact*/
.contact{
  background-color: #ebe9e9;margin: 100px auto;
  padding: 30px 0;width: 60%;margin-bottom: 80px;
}
@media (min-width:992px) and (max-width:1199px){
  .contact{ margin: 100px auto;width: 60%;}
 }
@media (min-width:768px) and (max-width:991px){
 .contact{ margin: 50px auto;width: 80%;}
}
@media (max-width:767px){
  .contact{width: 100%;margin: 30px auto;}
}
.reservation{background-color: #ebe9e9;margin: 100px auto 100px;padding: 30px 0;}
@media (max-width:767px){
  .curriculum-vitae-thank{margin: 50px auto !important}
}
.reservation p{width: 500px;margin: auto;}
.submit-complaint p{width: 520px;margin: auto;}
.submit-event-request p{width: 515px;margin: auto;}
.register input {
  background-color:transparent !important;
  border: none;
  border-bottom: 2px solid #ddd;
  margin-bottom: 30px;
  margin-left: 50px;
  padding-right: 70px;
  outline: none;
 
  color: #333;
 
}
#eventType,#DESTINATION{
  background-color:transparent !important;
  border: none;
  border-bottom: 2px solid #ddd;
  margin-bottom: 30px;
  margin-left: 50px;
  padding-right: 150px;
  outline: none;
  color: #999;
  text-indent: 0px;
  font-size: 12px;
}
#DESTINATION{padding-right: 140px;}
.register .resg-in input{
  padding: 0 !important;
  margin-left: 0 !important;
  margin-left: 50px !important;
}
.register input::placeholder{
  font-family:'GillSans-Light' !important;
  font-size: 12px !important;
  text-transform:uppercase;color: #999;
}

.btn-submit input{
  box-shadow: inset 0 0 0 2px #000;
  transition: box-shadow .3s ease;
  color: #121212;margin-top: 20px;
  padding: 5px 15px 5px 15px !important;
  font-family:'AlegreyaSansSC' !important;
  font-size: 21px !important;
  position: relative;
}
.btn-submit input:hover {

 
  box-shadow: inset 0 0 0 4px #000;
  transition: box-shadow .3s ease;
}
.btn-submit:hover input::after {
  box-shadow: inset 0 0 0 3px #000;
}

@media (max-width:767px){
  .register input {margin-left: 0 !important;}
  .register .resg-in input{
    margin-left: 0 !important;
    padding-right: 70px !important;
    width: 225px;
  }
  .reservation{margin: 100px auto;}
  .reservation p{width: 80%;}
  .career-head{width: 300px !important;}
  .career .career-content{margin-bottom: 20px !important;}
  .career-content .text-box{padding: 0 20px;}
  
}
.register .resg-p input{padding-right: 356px !important;
  /* text-indent: 10px; */
}
.for-date{padding-right: 100px !important;}
@media (max-width:767px){
  .register .resg-p input{padding-right: 70px !important;
    /* text-indent: 10px; */
  }
  #eventType, #DESTINATION{margin-left: 0 !important;}
}
/* -- page contact --*/

/*start page event portifolio css */
.search{
  min-height: 80px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.726);
 
  margin-top: 40px;
}
.search ul li{
  border: 1px solid#201825;
  padding: 12px;line-height: 5px;
  transition: all .5s;cursor: pointer;
}
.search ul li:hover{color: #fff;background-color: #201825;}
.search ul li:first-of-type{color: #fff;background-color: #201825;}
.new-season{margin: 60px 0;}
.new-season .card{border: none;margin-bottom: 23px;}
.new-season .card-title{margin-bottom: 15px !important;}
.new-season .card-body{
  background-color: #F8F7F7;
  padding-top: 0;padding-bottom: 45px;
}
.new-season .card-body img{border-radius: 0;transition: .5s;}
.new-season .card-body img:hover{opacity: .3;}
@media(max-width:767px){
  .search img{margin: 0 auto;}
  .new-season .card{width: 100%;margin: 0 auto;text-align: center;}
}
@media(min-width:1200px){
  .new-season .card-hr-news::after{
    content: "";width: 1px;height: 248px;
    background: rgb(117, 114, 114);
    transform:rotate(90deg);
    position: absolute;bottom:-27%;left: 50%;
  }
  .new-season .card-hr-news2::after{
    bottom:-22%;left: 50%;
  }
  .new-season .card-hr::after{
    content: "";width: 1px;height: 248px;
    background: rgb(117, 114, 114);
    transform:rotate(90deg);
    position: absolute;bottom:-29%;left: 50%;
  }
  .new-season .card-hr-1::after{
    content: "";width: 1px;height: 248px;
    background: rgb(117, 114, 114);
    transform:rotate(90deg);
    position: absolute;bottom:-49%;left: 50%;
  }
}
@media(max-width:1199px){
  .new-season .card-hr{
    border-bottom: 2px solid #c4bdaf54;
    padding-bottom: 30px !important;
    background: #F8F7F7;
  }
  .new-season{width:100%;margin: 0 auto !important;}
}

/*pagination*/
.gotopage {
  border: 1px solid #999;
  padding: 10px 30px;position: relative;
  margin-left: 20px;
}
.goto{background: #F8F7F7;position: absolute;top: -10px;left: 8px;}
.page-link{
  border: none;background-color: transparent !important;
  font-family: 'Gill Sans';color: #333;
  display: inline !important;
}
.page-link span{color: #cdcdcd;}
.pagination{margin-top: 20px;}
.pagination a{margin: 0 10px;font-family: 'Gill Sans';}
@media(max-width:767px){
  .pagination a{margin: 0 5px;}
}
/*end page event portifolio css */

/*start page event service corporate css */
.services-corporate{margin: 100px 0;}
@media(max-width:767px){
  .services-corporate{margin: 80px 0 20px;}
}
.services-corporate .text-box:first-of-type{margin-top: 10px;}

.services-corporate .text-box h3{letter-spacing: 5px;}
.services-corporate .text-box p{width: 85%;}
.services-corporate .text-box ul{margin-left: 15px;width: 100%;}
.services-corporate .text-box ul li{list-style: disc !important;}

.event-lifetime .join-family h3 a{
  color: #000;font-family: 'Big Caslon'  !important;
  font-size:25px !important;
}
.event-lifetime .join-family p{
  width: 43%;margin: 0 auto;
  font-family:'GillSans-Light' !important;
  font-size: 16px !important;
}

.row-links{
  width:100%;margin-top: 100px !important;
}
@media (max-width:767px){
  .row-links{
    width:100%;margin: 10px auto !important;
  }
  .services-corporate .text-box h3{margin: 15px 0 15px 0px;}
  .services-corporate .img-box{width: 100%;margin: 0 auto;}
  .services-corporate .text-box{width: 95%;margin: 0 auto !important;text-align: center;}
  .services-corporate .text-box ul li{
    list-style: disc !important;text-align: left;
    margin-left: 45px !important;
  }
  .services-corporate .text-box p{width: 100%;margin: 0 auto;font-size: 16px !important;}
  .services-corporate .text-box ul{width: 95%;margin: 0 auto;}
  .event-lifetime .join-family p{width: 85%;}
  .event-lifetime .join-family{padding: 20px 0 0px !important;}
  .contact-b{
    width: 75% !important;margin: 50px auto;
  }
}
.contact-b{
  width: 50%;margin: 50px auto;
}
@media (min-width:768px)and (max-width:991px){
  .services-corporate .text-box h3{font-size: 23px;}
  .services-corporate .img-box{width: 100%;}
  .services-corporate .text-box{width: 95%;}
  .services-corporate .text-box p{width: 100%;font-size: 13px;}
  .event-lifetime .join-family p{width: 70%;}
  .services-corporate .text-box:first-of-type{margin-top: 10px;}
}
@media (min-width:992px)and (max-width:1199px){
  .services-corporate .img-box{width: 95%;}
  .services-corporate .text-box{width: 100%;;}
  .services-corporate .text-box:first-of-type{margin-top: 10px;}
}
@media (max-width:767px){
.services-social .img-box{width: 100%;;margin: 0 auto;}
.services-social .img-m{margin-left: 15px;}
}

/*start page event service corporate css with wedding  */

.services-wedding a{font-weight: bold;margin-bottom: 10px;}
@media (max-width:767px){
  .services-wedding .img-m{width:100% !important;margin: 0 auto !important;}
  .text-box3{padding-left: 0px;}
  .row2{margin: 0 !important;}
}
.made-width{width: 65% !important;}
@media (max-width:767px){
  .made-width{width: 70% !important;}
}
@media (min-width:768px)and (max-width:991px){
  .made-width{width: 70% !important;}
}
.all-services h3{margin: 30px 0 20px;text-align: left;}
.all-services h3 a{color: #555 ;font-weight:500;}
.all-services p{width: 80%;text-align: left;}


@media (max-width:767px){
.all-services img{width: 80%;margin: 0 auto;}
.all-services h3,.all-services p{margin: 30px 0;text-align: center !important;}
.all-services p{width: 100% !important;}
}




.nav-bla .nav-links a{color: #333 !important}




/*meet the team*/
  .meet-team{
    margin: 100px auto 50px;
    height:150px;
    background:#F2F0F0;
  }
  @media (max-width:767px){
    .meet-team{
      margin: 50px auto 50px;
    }
  }
  .meet-team h2{line-height: 150px;}
  .meet-team h2 a:hover{text-decoration:underline;}
  
  .our-team .team-box{
    height:300px;
    background-color: #B5B5B5;
    margin-bottom:40px;
    text-align: center;
    padding-top: 20px;
    text-transform: capitalize;
    color:#fff;
    
  }
  .our-team .team-box h3,.our-team .team-box h5{font-family: arial !important;}
  .our-team .team-box h3{font-size: 1.4rem !important;font-weight: 500 !important;}
  .our-team .team-box h5{
    font-weight: 100 !important;
    font-size: 1rem !important;
    color: #f8f7f7be;
  }
/*sound*/
.sound-testimonial p {
  width: 475px;margin: 150px auto 20px;font-size: 20px
}
@media (max-width:767px){
  .sound-testimonial p{font-size: 15px;width: auto;margin: 100px auto 20px;}
}
/* // meet the team*/
/*   gallary-films */

.gallery-img .img-box{width: auto !important;}
.gallery-img{position: relative;}
@media (min-width:1200px){
  .img-big{position: absolute;top: 690px;right: 0;}
  .img-big-1{position: absolute;top: 1110px;right: 240px;}
  .img-big-2{position: absolute;top: 1110px;right: 0;}
}
.explore{
  position: absolute;padding: 10px 50px;background-color: #F8F7F7;left: 39%;top: 170px;
}
@media (max-width:767px){
 .explore{ left: 30px;font-size: 20px !important;}
}
@media (min-width:768px) and (max-width:1199px){
  .explore{ left: 33%;}
 }
 
 @media (min-width:1200px){
  .ul-news{
    margin-right: -10px
  }
  .for-m-b{margin-bottom: 100px !important;}
 }

.img-logo-2{display: none !important;}
.owl-carousel .owl-nav button.owl-prev{left: -22px;top: 32%;}
.owl-carousel .owl-nav button.owl-next{right: -45px;top: 27%;}
@media (max-width:767px){
  .owl-carousel .owl-nav button.owl-prev{left: -20px;top: 38%;}
  .owl-carousel .owl-nav button.owl-next{right: -25px;top: 33%;}
  .ul-news{
    margin-right: 0px
  }
  .owl-carousel .owl-dots{margin-top: 0;display: none;}
 
}
@media (max-width:1199px){
  .img-logo{display: none !important;}
  .img-logo-2{display: block !important;}
  .brand-name{text-align: center !important;width: 100%;margin-bottom: 20px;}
}



.img-cabans{background:url('../images/brands/liv-1.png');}
.rituals-village{background:url('../images/brands/liv-2.png');}
.boutique-living{background:url('../images/brands/liv-3.png');}
.boutique-hotel{background:url('../images/brands/liv-4.png');}
.img-hospitality{background:url('../images/brands/img1.png');}
.img-hospitality2{background:url('../images/brands/img2.png');}
.img-hospitality3{background:url('../images/brands/hospitality/head3.png');}
.img-hospitality4{background:url('../images/brands/img4.png');}
.img-hospitality5{background:url('../images/brands/img5.png');}
.img-event{background:url('../images/brands/Image-9.png');}
.img-event2{background:url('../images/brands/F_F-431.png');}
.img-event3{background:url('../images/brands/_Q7A3606.png');}
.img-event4{background:url('../images/brands/Header.png');}
.img-can1{background:url('../images/brands/can-1.png');}
.img-can2{background:url('../images/brands/can-2.png');}
.img-can3{background:url('../images/brands/can-3.png');}
.img-can4{background:url('../images/brands/can-4.png');}
.frame-img{
  background-position: center center;
  background-size: cover;transition: .5s;
  position: relative;overflow: hidden;
  width:340px
}
.frame-img-hover:hover{
  background-blend-mode: overlay;
  background-color: rgba(26, 20, 20, 0.897);
}
.frame-img a{
  color: #fff;position: absolute;
  bottom: -50px;left: 40%;font-size: 16px;
 transition: .5s;letter-spacing: 1.5px;
}
.frame-img:hover a{bottom: 20px;}
.frame-img a i{color: #fff;}

@media (min-width:992px) and (max-width:1199px){
  .to-explore{top: -48px !important;}
  .frame-img{
    width:290px !important;
  }
  .product .itemBox h4{text-align: left !important;}
}
@media (min-width:768px) and (max-width:991px){
  .to-explore{top: -48px !important;}
  .frame-img{
    width:210px !important;
  }
  .product .itemBox h4{text-align: left !important;font-size: 18px !important;}
}
@media (max-width:767px){
  .to-explore{top: -45px !important;}
  .frame-img{
    width:280px !important;text-align: center;
  }
  .product .itemBox{
   margin: 20px 20px 0 !important
  }
  /* .product .itemBox h4{margin-left: 13% !important;text-align: left !important;} */
}
@media (max-width:400px){
  .to-explore{top: -44px !important;left: 30% !important;}
}
.to-explore{
  padding:20px;background-color: #F8F7F7;position: absolute;top: -12%;left: 43%;
}


    /*-------- start media query -----------------*/
    .b-living{width:70%}
    @media (min-width:768px) and (max-width:991px){
      .tlt-events .tlt-concept p , .tlt-hospitality .tlt-concept p ,.tlt-living .tlt-concept p{
        width: 98%;font-size: 20px;
      }
    }
    @media (max-width:767px){
      .tlt-events .tlt-concept p , .tlt-hospitality .tlt-concept p,.tlt-living .tlt-concept .b-living {
        width: 100% !important;font-size: 20px !important;
        margin: 20px 0 !important
      }
    }

    @media (max-width:767px){
      .about-events , .about-hospitality,  .about-living{
        padding: 10px 0 0;
      }
    }
    @media (min-width:768px) and (max-width:991px){
      .about-events , .about-hospitality,  .about-living{
        padding: 10px 0 0;
      }
    }

    @media (max-width:767px){
      .about-events .event-box .text-box , .about-hospitality .hospitality-box .text-box,
      .about-living .living-box .text-box{
        padding: 0 0 20px 0;
      }
      .sty-p{width: 88%;margin: 0 auto;}
    }
    @media (min-width:768px) and (max-width:991px){
      .about-events .event-box .text-box ,
      .about-hospitality .hospitality-box .text-box,
      .about-living .living-box .text-box{
        padding: 10px 0;
      }
    }

    @media (max-width:767px){
      .about-events .event-box .text-box p,
      .about-hospitality .hospitality-box .text-box p,
      .about-living .living-box .text-box p{
        width: 90%;
        font-size: 20px !important;
        margin: 20px auto !important
      }
    }
    @media (min-width:768px) and (max-width:991px){
      .about-events .event-box .text-box p{
        width: 90%;
        margin: 0 auto !important;
      }
      .about-events .event-box .text-box{
        margin-top: 40px;
      }
      .about-events .event-box .img-box img,
      .about-hospitality .hospitality-box .img-box img,
      .about-living .living-box .img-box img{
        margin-top: 40px;
      }
      .about-events .event-box .last-text{margin-top: 150px;}
    }
    
    @media (min-width:768px) and (max-width:991px){
      .about-hospitality .hospitality-box .text-box p,
      .about-living .living-box .text-box p{
        width: 90%;
      }
    }
   
    @media (min-width:992px) and (max-width:1199px){
      .about-events .event-box .text-box p{
        width: 85%;
      }
    }

    @media (min-width:768px) and (max-width:991px){
      .about-hospitality .hospitality-box .img-box,
      .about-living .living-box .img-box {
        height: 95%;
      }
      .about-living .boxtobox{margin-bottom: -100px;}
    }

    @media (max-width:767px){
      .order-last-sm-media{order: 13;}
      .order-first-sm-media{order: -1;}
      .about-events .event-box .last-text,
      .about-living .living-box .last-text{
        margin: 10px auto;
      }
    }

    @media (max-width:767px){
      .about-hospitality .hospitality-box .img-box,
      .about-living .living-box .img-box
      {
        width: 80%;margin:  0 auto;height: 100%;
      }
     
    }

    
    .time-line{position: relative;}
    .time-line .time::after{
      content: "";
      position: absolute;
      left: 50%;
      width:2px;
      height:250px;
      background:#333;
      bottom:-67px;
      

    }
  
    .timeline{position: relative;margin: 50px auto;}
    .timeline .container::before{
      content: "";
      position: absolute;
      left: 50%;
      width:2px;
      height:100%;
      background:#333
    }
 
    .timeline ul{
      margin: 0;padding: 0;
    }
    .timeline ul li{
      padding: 20px 40px;
      height: 100vh;
    }
   
    .timeline ul li .content{
      margin-left: 50px; margin-top: 60px;
    }
    .timeline ul li .content-1{
      margin-left: 50px; margin-top: 60px;
    }
    .timeline ul li h4{
      margin-bottom: 30px;
      font-family: arial;
      font-weight: 100 !important;
    }
    .timeline ul li .content h4::before{
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      background: #333;
      border-radius:50%;
      left:-12px;
    }
   
    .timeline ul li .content-1 h4::before{
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      background: #333;
      border-radius:50%;
      right:-12px;
    }

    .timeline ul li .content p{line-height: 1.5;}
    
   .text-end h3::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: #333;
    border-radius:50%;
    left:49.1%;
    bottom:320px;
   }
   @media(max-width:767px){
    .time-line h3::after,
    .timeline .container::before,
    .timeline ul li .content h4::before,
    .timeline ul li .content-1 h4::before,
    .time-line .time::after{
      content:"";
      width: 0 !important;
    }
    .timeline ul li{
      height: 200vh;
      padding: 20px 40px;
    overflow: hidden;
    }
    .timeline ul li .content{
      margin-left: 0px; margin-top: 0px;
    }
    .timeline ul li .content-1{
      margin-left: 0px; margin-top: 0px;
    }
    .timeline ul li .content p,.timeline ul li .content-1 p{
      font-size: 12px;text-align: left !important;
      width: 100% !important;
    }
    .timeline ul{
      height:200vh !important
    }
    .content-img{height: 50vh !important;}
    .timeline ul li .content,
     .timeline ul li .content-1{
       height: 100vh !important;margin-top: 50vh !important;
       text-align: center!important;
      }
  }


   .films .row{
     display: flex !important;
     align-items: flex-start !important;
     flex-wrap: wrap !important;
     
   }
   .films .col {
     flex-basis: 50% !important;
     min-width: 250px !important;
   }
   .feature-img{
     width:83%;
     margin: auto;
     position: relative;
     overflow: hidden;
   }
   .small-img-row{
     display: flex;
     margin: 20px 0;
     align-items: center;
     overflow: hidden;
     position: relative;
   }
  .play-btn{
    width: 50px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    opacity: .5;
    cursor: pointer;
  }
  .small-img-row .play-btn{width: 35px;top: 40%;}
  .video-player{
    width:85%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    display:none;
  }
  video:focus{outline: none;}
  .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
    opacity: .7;
  }


.home-head .hero-text h2{
padding-top: 200px !important;width: 50% !important;margin:0 400px 50px;
}
@media (min-width:992px) and (max-width:1199px){
  .home-head .hero-text h2{
    padding-top: 180px !important;width: 50% !important;margin:0 370px 50px;
    }
} 
@media (min-width:768px) and (max-width:991px){
  .home-head .hero-text h2{
    padding-top: 140px !important;width: 60% !important;margin:0 260px 30px;
    }
}

@media (min-width:520px) and (max-width:767px){
  .home-head .hero-text h2{
    padding-top: 140px !important;width: 80% !important;margin:0 60px 30px;
    }
}
@media(max-width:519px){
  .home-head .hero-text h2{
    padding-top: 130px !important;width: 90% !important;margin:0 10px 30px;
    font-size: 16px ;font-weight: 700;
    }
}
.carousal-img{width: 200px;height: 100px;}
.head-img{height: 450px;}
@media (max-width:768px){
  .small-img-row{justify-content: center !important;}
  .small-img h6{text-align: center !important;}
  .feature-img h4,.feature-img p{text-align: center !important;}
  .head-img{height:auto;margin-top: 20px;}
}
@media (min-width:768px) and (max-width:991px){
  .small-img-row{justify-content: center !important;}
  .small-img h6{margin-left: 40% !important;}
  .feature-img h4,.feature-img p{text-align: center;}
  .head-img{height:auto;margin-top: 20px;}
} 
/*sitemap*/
.site-header{margin: 100px auto 50px;background: #EBE9E9;min-height: 150px;line-height:150px;}
@media (max-width:767px){
  .site-header{margin: 50px auto ;}
}
.my-ul li{list-style: disc !important;list-style: none !important;}
.my-ul li a{font-family: 'Gill Sans';margin-left: 15px;}
.site-map p{margin-bottom:.5rem !important;}
.sitemap-res{margin-left: 100px;margin-bottom: 50px;}

.main-logo{width: 100px;}
@media (min-width:1451px){
 
  .header3{display: block !important;min-height: 100vh !important;padding-top: 180px;}
  .header3 .BigCaslon-30{
    width:50%;
    margin: 0 auto;
  }
  .header3 .hero-btn{
    margin: 80px 100px 50px ;
    
  }
  .hero-arrow{margin: 0 0 30px 0;}
  .hero-arrow-1{margin: 0 0 10px 0 !important;}
 
}

@media (min-width:992px) and (max-width:1450px){
  .header3{display: block !important;min-height: 100vh !important;padding-top: 180px;}
  .header3-about{padding-top: 270px;}
  .header3 .BigCaslon-30{
    font-size: 22px !important;
    width:34%;
    margin: 70px auto 20px;
    
  }
  .header3-about .hero-btn{
    margin: 50px 0px 180px !important;
    
  }
 

  .header3-about .h2-big{
    width: 53% !important;
    margin: 0 auto;
  }
  .header3 .hero-btn{
    margin: 110px 0px 50px ;
    
  }
  .hero-arrow{margin: 0 0 30px 0;}
  .hero-arrow-1{margin: 0 0 0px 0 !important;}


}
@media (min-width:768px) and (max-width:991px){
  .header3{display: block !important;min-height: 100vh !important;padding-top: 180px;}
  .header3 .BigCaslon-30{
    width:70%;
    margin: 0 auto;
  }
}
@media (max-width:767px){
  
  
  .header3{display: block !important;min-height: 100vh !important;padding-top: 120px;}
  .BigCaslon-30{font-family: 'BigCaslon'  !important;font-size:25px !important;font-weight: 300 !important;}
  .AlegreyaSansSc24 {font-family: 'AlegreyaSansSC' !important;font-size:16px !important;}
  .sort-news span{padding-right: 90px !important;}
  .sort-news::after{right: 10px;}
  .AlegreyaSansScMedium{font-family:'AlegreyaSansScMedium' !important;font-size: 16px !important; }
  .alLight17{ font-family: 'AlegreyaSans' !important;font-size: 16px ;}
  .main-logo{width: 80px;margin-top: 20px;}
  .BigCaslon-35{font-family: 'Big Caslon'  !important;font-size:20px !important;font-weight: 100 !important;}
  .Caslon-MediumItalic-35{font-family: 'Caslon MediumItalic' !important;font-size:25px !important}
  .header3-about .hero-arrow{
    margin:50px 0 0 !important
  }
  .about-tlt .tlt-concept p{
    /* font-size: 20px !important ; */
   margin: 20px auto;}
  .our-news h6{margin-top: 20px !important;}
  .new-season .card-body{padding-bottom: 20px !important;}
  .for-center-img{text-align: center !important;padding-left: 0 !important;}
  .my-ul{padding-left: 0px !important;margin-bottom: 20px;}
}

.my-ul,.for-center-img{padding-left: 30px;}
.my-5rem{
  margin-top: 5rem !important;}
.my-default{
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}.my-default a{    font-family: 'AlegreyaSansScMedium' !important;
  font-size: 15px !important;}
.mb-about{
  margin-bottom: 6rem !important;
}
.mt-about{
  margin-top: 5rem !important;
}
.mt-services{
  margin-top: 1rem !important;
}
.w-text-80{
  width: 80%;margin: 0 auto;
}
.w-text-90{
  width: 90%;margin: 0 auto;
}
.p-24{
  padding: 0 28%;
}
.margin-l-4 {
  margin-left: 1.5rem !important;
}
.text-l-c{
  text-align:left !important
}
.mt-b-6 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}
@media (max-width:767px){
  .mt-b-6 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .mt-about{
    margin-top: 2rem !important;
  }
  .mt-services{
    margin-bottom: 3rem !important;
    margin-top: 0rem !important;
  }
  .margin-l-4 {
    margin-left: 0rem !important;
  }
  .text-l-c{
    text-align:center !important
  }
  .my-default{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.mb-about{
  margin-bottom: 2rem !important;
}
.w-text-80{
  width: 98%;margin: 0 auto;
}
.p-24{
  padding: 0 2%;
}
.my-5rem{
  margin-top: 2rem !important;}
  .text-wed{width: 100% !important;}
  .text-wed h3{margin: 15px 0!important;}
}

.for-80{width: 80%;}
.w-73{width: 73%;}
.w-85{width: 85%;}
.w-90{width: 90%;}


.for-filter{
  padding:20px 20px 0 ;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;flex-direction: column;
  
}
.for-filter ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px ;
}
.for-filter ul li{
  transition: all 0.3s ease-in-out;
  color: #9b9999;
  font-family: 'Big Caslon'  !important;font-size:22px !important;
  margin-right: 30px !important;
  cursor: pointer
}
.for-filter ul li.active{
  text-decoration: underline;
  color: black;
}



.product{
  display:flex;justify-content: center;align-items: center;
  flex-wrap: wrap;
}
.product .itemBox{
  position: relative;
  width:300px;
  height:300px;margin: 20px;display: block;
}
.product .itemBox h4{
  margin-top: 20px;text-align: center;
}
.product .itemBox.hide{
  display: none;
}
.pop-up {
  display: none;position: absolute;
  top: 0;background: #F8F7F7;width: 99.85vw;z-index: 500000;
}
.pop-up.active{display: block;}
@media (min-width:768px){
  .to-time{display: none ;}
  
}
.btn-popup2{display: none;}
@media (max-width:767px){
  .btn-popup{display: none;}
  .btn-popup2{display: block;}
  .for-filter ul li{font-size:12px !important;  margin: 0 !important;}
  .for-filter ul{
    
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: nowrap;
     
      align-content: flex-start;
      flex-direction: row;
  
  }
  .to-time{
    display: none;position: absolute;
    top: 0px;background: #F8F7F7;
    width: 99.85vw;z-index: 500000;
  }
  .to-time.active{display: block;}
  .pop-up{display: none;}
}
.all-services .content-box img{width:300px !important;}
.navbar-expand-lg .navbar-nav .nav-link, .navbar-light .navbar-nav .active > .nav-link{
  font-size:10px !important;
}
.hide-p{font-size: 15px !important;width:52%;margin: 0 auto;text-align: center;}
@media (min-width:1500px) {

  
  .navbar .container{max-width:1750px !important}
  .main-logo{width: 110px !important;}
  .navbar-expand-lg .navbar-nav .nav-link, .navbar-light .navbar-nav .active > .nav-link{
    font-size:14px !important;
  }
  .header3 .BigCaslon-30{
    width: 30% !important;
    font-size:30px !important;
    margin: 115px auto 50px !important;
  }
  .header3 .hero-btn{font-size: 20px !important;}
  .AlegreyaSansSC18{ font-size: 20px !important;}
  .for-filter ul li{ font-size: 25px !important;}
  .hide-p{font-size: 20px !important;}
  .container, .container-lg, .container-md, .container-sm, .container-xl{max-width:1500px ;}
  .frame-img{width:420px;height: 200px;}
  .owl-prev span,.owl-next span{font-size: 20px !important;}
  .owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next{top: 27%;}
  .owl-carousel .owl-nav button.owl-next{right: 0px;}
  .BigCaslon-35{font-size: 35px !important;}
  .AlegreyaSans-Bold{font-size: 22px !important;}
  .mt-half{font-size: 20px !important;}
  .AlegreyaSansSC14{font-size: 14px !important;}
  .container-96{width:85%}
  .brand-logo img{
    padding: 5px 25px;
  }
 
  .w-175{width: 170px !important;}
  .w-90p{width: 90px !important;}
  .w-100p{width: 90px !important;}
  .w-150p{width: 130px !important;}
  .w-160p{width: 180px !important;}
  .w-130p{width: 130px !important;}
  .w-80p{width: 100px !important;}
  .brand-name{width:14% !important}
  .BigCaslon25{font-size: 30px !important;}
  p{font-size: 19px !important;}
  .content-img img{width:80%;margin: 0 60px !important;}
  .header3-about{padding-top: 250px;}
  .header3 .BigCaslon-30{
    width:50%;
    margin: 0 auto;
    
  }
  .header3-about .hero-btn{
    margin: 30px 0px 130px !important;
    
  }
 

  .header3-about .h2-big{
    width: 30% !important;
    margin: 100px auto 20px;
  }
  .header3 .hero-btn{
    margin: 130px 0px 30px;
    
  }
  .branch-tree p{font-size: 19px !important;}
  .AlegreyaSansScMedium{font-size: 20px !important;}
  .text-img img {width: 220px ;}
  .GillSans-Light{font-size:19px !important}
  footer ul li:first-child{font-size:19px !important}
  footer ul li a{font-size:19px !important}
  .alLight17{font-size:20px !important}
  
  .d-links a{font-size: 16px !important;}
  .d-links .dotlink{font-size: 50px !important}

  
 

  .boxtobox{margin-bottom: 5% !important;}
  .living-box .boxtobox{margin-bottom: 5% ;}
  .the-center-img{width: 200px !important;}
  .about-events .event-box .text-box a, .about-hospitality .hospitality-box .text-box a, .about-living .living-box .text-box a{
    font-size: 20px !important;
  }
  .GillSans19{ font-size: 19px !important;}
  .GillSans22{ font-size: 22px !important;}
  .hero-btn{ font-size: 30px !important;}
  .Caslon-MediumItalic-35{ font-size: 35px !important;}
  .all-services .content-box img{width: 400px !important;}
  .new-season .card-body div{width: 350px !important;}
  .search img{margin-left: 100px;}
  .search ul{margin-left: 100px;}
  .AlegreyaSansSc24{font-size: 24px !important;}
  .search ul li{padding: 15px;}
  .GillSans-Light16{font-size: 23px !important;}
  .event-lifetime .join-family p{font-size: 19px !important;}
  .new-season .card-body p{width: 350px !important;}
  .to-explore{top: -10%;left: 46%;}
  .BigCaslon-30{font-size: 30px !important;}
  .register input::placeholder{font-size: 14px !important;letter-spacing: 2px;}
  .register input{padding-right:10px;width: 350px;margin-bottom: 50px;}
  #eventType, #DESTINATION{padding-right:10px;width: 350px}
  .btn-submit input,.register .resg-p input{width: auto;}
  /* .register .resg-in input{width: 215px;} */
}

.the-center-img{width: 150px;}
.the-center-img-origin{width: 200px;}
.d-links  .dotlink{font-size: 30px;margin-bottom: 5px !important;margin-top: -8px;}
.w-175{width: 150px;}
.w-90p{width: 90px;}
.w-100p{width: 85px;}
.w-150p{width: 130px;}
.w-160p{width: 140px;}
.w-130p{width: 110px;}
.w-80p{width: 80px;}
.text-w-50{width: 60%;}
.fa-angle-right:before{font-size: 12px;}
@media (min-width:1700px) {
  .fa-angle-right:before{font-size: 16px;}
  .text-w-50{width: 45%;}
  .w-175{width: 200px !important;}
  .w-90p{width: 110px !important;}
  .w-100p{width: 120px !important;}
  .w-150p{width: 160px !important;}
  .w-160p{width: 200px !important;}
  .w-130p{width: 140px !important;}
  .w-80p{width: 110px !important;}
  .brand-name{width:13% !important}
  .for-m-img{margin-right: 50px;}
  .header3-about .h2-big{
    width: 35% !important;
    margin: 140px auto 30px;
  }
  .header3-about .hero-btn{
    margin: 30px 0px 170px !important;
    
  }
}
@media (min-width:1300px) {
  .header3 .hero-btn{
    margin: 50px 0 70px ;
    
  }
  .header3{padding-top:170px !important}
  .header3-about{padding-top:230px !important}
}

.eight-img{width: 120px;height: 120px;}
@media (min-width:1500px){
  .eight-img{width: 160px;height: 160px;}
  .view-img {min-height: 235px;}
}
.scrollDown{
 position: absolute;left:50%;top: 50%;transform: translate(-50%,-50%);background: red;height: 50px;
}
.scrollDown::after{
  content: '';
  position: absolute;
  width: 15px;height:50px;border-left: 2px solid #fff;
  left:-2.101px;
  top:-4px;
  
}
.scrollDown:hover.scrollDown::after{
  height:30px;
  top:15px;
}

.scrollDown::before{

  content: '';
  position: absolute;
  width: 10px;height:10px;border-left: 2px solid #fff;border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  left:-6.2px;
  top:35px;
}
.scrollDown2{
  position: absolute;left:50%;top: 90%;transform: translate(-50%,-50%);background: red;height: 50px;
 }
 .scrollDown2::after{
   content: '';
   position: absolute;
   width: 15px;height:50px;border-left: 2px solid #fff;
   left:-2.101px;
   top:20px;
   
 }
 .scrollDown3::after{
  border-left: 2px solid #131313;
 }
 .scrollDown2:hover.scrollDown2::after{
   height:30px;
   top:40px;
 }
 
 .scrollDown2::before{
 
   content: '';
   position: absolute;
   width: 10px;height:10px;border-left: 2px solid #fff;border-bottom: 2px solid #fff;
   transform: rotate(-45deg);
   left:-6.2px;
   top:60px;
 }
 .scrollDown3::before{
  border-left: 2px solid #131313;border-bottom: 2px solid #131313;
 }

.arrow-down-aps{
  position: absolute;left:48.5%;bottom: 3%;width: 2.5rem;height: 55px;transition: .2s;
}
.arrow-down-aps:hover{height: 45px;}
@media (min-width:1750px) and (min-height:650px){
  .tlt-events, .tlt-hospitality, .tlt-living{min-height: 100vh !important ;}
}
.for-search-bx{padding-left: 0px;text-align: right;}
.search-bx-div{width: 10%;padding: 30px 0;background: #fff;box-shadow: 0 0 10px #999;}
.search-bx-div img{padding: 0 20px;}
.my-search{display: none;width: 70%;margin-right:-10px;border: none;outline: none;
border-bottom: 1px solid #999;}
.search-bx-div:hover{width: 30%;}
.search-bx-div:hover .my-search{display: inline;}


@media (max-width:767px){
  .mb-80{margin-bottom: 20px !important;width: 100%;}
  .for-search-bx{margin: 0 auto;text-align: center;}
  .search-bx-div{width: 20%;margin: 0 auto;padding: 15px 0;}
  .my-search{width: 50%;}
  .content-box-origin{
    height: auto !important;
  }
  .for-m-top{margin-top: 5% !important;}
.for-m-top-2{margin-top: 5% !important;}
 
}
.content-box-origin{
  height: 90vh ;
}
.for-m-top{margin-top: 20%;}
.for-m-top-2{margin-top: 30%;}

.box-section{
  height: 100vh;position: relative;margin-bottom: 0px;
 
}
.box-section-info{
  position: absolute;left:50%;top: 45%;transform: translate(-50%,-50%);
text-align: center;width: 100%;
}


.brands-text{height: 100vh;border-bottom: 3px solid #f0Efee;margin:60px 0 ;}
.p-font{width:50%;margin: 8vh auto;text-align: center;height: 100%;}
.div-hei-50{height: 50vh;background: #F0EFEE;}
@media (max-width:767px){
  .div-hei-50{min-height: 50vh;}
  .p-font{width:100%;margin: 5vh auto;}
  .box-section{height: 150vh !important;width: 90%;margin: 80px auto 20px}
  .box-section-767{height: 120vh !important;margin: 0px auto 20px}
  .box-section-cocon{height: 170vh !important;margin: 170px auto 20px}
  .box-section-info{position: relative;overflow: hidden;
    /* margin-bottom: 50px;*/
  } 
 
}
.imgbox-w-h{width: 100%;height: 90%;}
.box-logo-info{
  position: absolute;left:50%;top: 50%;transform: translate(-50%,-50%);
text-align: center;width: 100%;
}

.box-section-2{ height: 70vh;position: relative;margin-bottom: 100px;margin-top: 70px;}
.box-sec-3{margin-top: 100px !important;margin-bottom: 120px;}
.box-text-info{
  position: absolute;left:50%;top: 50%;transform: translate(-50%,-50%);
  width: 100%;
}
.div-logo-center{position: absolute;left:50%;top: 50%;transform: translate(-50%,-50%);
  width: 75%;}
  .div-logo-center-2{position: absolute;left:50%;top: 50%;transform: translate(-50%,-50%);
    width: 85%;}
  .div-logo-center-dad{text-align: center;width: 90%;height: 50%;}

  .hide-sec{display: none;}
@media (max-width:767px){
  
  .hide-sec{display: block;}
  .box-section-2{display: none;}
}
.box-section-5{height: 65vh !important;margin-bottom: 0px;margin-top: 0px;}

@media (min-width:1700px){
  .box-section-2{ height: 80vh;position: relative;margin-bottom: 100px;margin-top: 20px;}
}
.card-img-top{height:150px}
.card-img-top2{height:300px}
.div-logo-center-5{position: absolute;left:50%;top: 50%;transform: translate(-50%,-50%);
  width: 90%;height: 80%;}
    

@media (min-width:1100px){
.for-ev{margin-top: -100px !important}
}
.text-box-brands{position: absolute;left:50%;top: 26%;transform: translate(-50%,-50%);text-align: center;width: 45%;}
@media (max-width:767px){
  .text-box-brands{width: 90%;top: 50%}
  .div-hei-50{position: relative;min-height: 50vh;}
}

.home-header{
  height:80vh
}

.home-st{
  position: absolute;left:50%;top: 55%;transform: translate(-50%,-50%);text-align: center;width: 30%;
}
@media(max-width:767px){
  .home-st{width: 80%;}
  .home-st .BigCaslon-30{font-size: 16px !important;}
  .home-header{height: 75vh;}
}
@media(min-width:768px) and (max-width:991px){
  .home-header{height: 90vh;}
  .home-st{width: 40%;}
  .home-st .BigCaslon-30{font-size: 16px !important;}

}
@media(min-width:992px) and (max-width:1199px){
  .home-header{height: 90vh;}
  .home-st{width: 40%;}
  .home-st .BigCaslon-30{font-size: 20px !important;}

}
.tlt-events .tlt-concept, .tlt-hospitality .tlt-concept, .tlt-living .tlt-concept{padding: 0;}

.img-for-logo{width: 100px;height: 55px;transition: .6s;cursor: pointer;}
.img-for-logo:hover{opacity: .5;}
.img-for-logo2{width: 210px;height: 50px;}
.for-img-logo4{width: 350px;height: 50px;}
.img-box-ev{width: 720px;height: 300px;}
@media (min-width:1500px){
  .img-for-logo{width: 130px;height: 50px;}
.img-for-logo2{width: 300px;height: 50px;}
.img-for-logo3{width: 200px;}
.for-img-logo4{width: 500px;height: 50px;}
}

.box-text-about{
  position: absolute;left:50%;top: 60%;transform: translate(-50%,-50%);
text-align: center;width: 100%;
}
.img-bo{width: 456px;height: 456px;}
.img-bo2{width: 513px;height: 513px;}
.img-life{width: 100%;height: 90vh;}
.p-1920{padding-bottom: 15px;}
.logos-width{width: 180px}
.logos-width2{width: 120px}
.con-my{margin: 1rem 0;}
.career-top{margin-top: 50px;}
.for-m-services{margin-bottom: 30px;}
.logo-box-brands{margin:50px 0}
@media (min-width:1900px){
  .contact-b {
    width: 35%;}
    .contact{margin-bottom: 150px;}
  .con-my{margin: 3rem 0;}
  .btn-submit input{padding: 5px 15px 5px 15px !important;}
  .logos-width{width: 205px;margin-bottom: 20px;}
  .logos-width2{width: 180px}
  .home-header{
    height:80vh
  }
  .home-st{width: 32%;top: 50%;}
  .home-st h2{line-height: 1.4;}
  .hero-btn {
    position: absolute;left:50%;top:120%;transform: translate(-50%,-50%);
  }
  .hero-btn-5{top:19%;}
  .hb6{top:23%;}

  .tlt-events{margin-top: 70px;}
  .tlt-events .tlt-concept, .tlt-hospitality .tlt-concept, .tlt-living .tlt-concept{margin-bottom: 120px;}
  .mx-auto{right:0}
  .tlt-events .tlt-concept p{width: 47% !important;}
  footer .content{width: 98% !important;}
  .container-96{width:80%}
  .for-filter ul li{font-size: 35px !important;}
  .img-for-logo{width: 150px;height: 60px;}
.img-for-logo2{width: 275px;height: 50px;}
.img-for-logo3{width: 175px;}
.for-img-logo4{width: 545px;height: 50px;}
.img-for-logo5{width: 77px;}
.box-text-about{
  position: absolute;left:50%;top: 50%;transform: translate(-50%,-50%);
text-align: center;width: 100%;
}
.text-w-50{width: 70%;}
.tlt-hospitality .tlt-concept p, .tlt-living .tlt-concept p{max-width: 930px;}
.tlt-events, .tlt-hospitality, .tlt-living{min-height: 70vh !important;}
.branch-tree{margin-top: 2rem;}
.branches-list{margin-top: 2rem !important;margin-bottom: 5rem !important;}
.my-7-5 {
  margin-top: 5rem !important;
  margin-bottom: 7rem !important;
}
.text-box-brands{position: absolute;left:50%;top: 26%;transform: translate(-50%,-50%);text-align: center;width: 45%;}
.brands-text{height: 80vh;}
.div-hei-50{height: 40vh;}
.w-text-80{width:75%}
.img-lg{width: 200px !important;}
.container-1920{max-width: 1500px  ; margin:0 auto}
.p-24 {
  padding: 0 28%;
}
.my-default a{font-size: 21px !important;}
.navbar-expand-lg .navbar-nav .nav-link, .navbar-light .navbar-nav .active > .nav-link{
  font-size:18px !important;}
  .fa-angle-right:before{font-size: 18px;}
  .d-links a{font-size: 20px !important;margin-top: 5px;}
  .w-text-80-2{
    width: 85%
  }
  .w-text-80-3{
    width: 90%
  }
  .box-section-2{ height: 70vh;position: relative;margin-bottom: 0px;margin-top: 70px;}
  .col-md-6{padding: 0;}
  .p-1920{padding-bottom: 20px;}
  .img-bo{width: 600px;height: 600px;}
  .img-bo2{width: 675px;height: 675px;}
  .eight-img{width: 170px;}
  .header3-about .hero-btn{margin: 50px 0px 170px !important;}
  .img-w-320{width: 350px;height: 300px;}
  .owl-carousel .owl-nav button.owl-prev{
    top: 33%;
    left:-27px
  }
  .owl-carousel .owl-nav button.owl-next {
    right: -10px;
}
.the-center-img{width:250px !important}
.all-services p{width: 70% !important;}
.img-box-ev{width: 720px;height: 360px;}
.w-text-90-disc{width: 85%;}
.join-family{padding: 142px 0;margin-top:-120px ;}
.join-family-2{margin-top:0px ;}
.box-section-5{height: 45vh !important;margin-bottom: 25px;margin-top: 0px;}
.event-lifetime .join-family h3 a{
  color: #000;font-family: 'Big Caslon'  !important;
  font-size:35px !important;
}
.card-img-top{width: 350px;height: 400px;}
.card-img-top2{width: 350px;height: 230px;}
.latest-news {
  
  margin: -20px 0 25px;
}
.career-family{margin-bottom:150px !important;margin-top: 0;}
.career-celebrate .celebrate{width: 43%;}
.career-top{margin-top: 130px;margin-bottom: 170px;}
.career-celebrate{
 
  padding: 50px 0;margin-bottom: 180px;margin-top: 180px;
}
.box-career{top: 60%;}
.for-m-services{margin-bottom: 120px;}
.logo-box-brands{margin:100px 0}
}


.lifestyle-1{background:url('../images/newLogo/Can\ Limon\ Concept\ Store.png') no-repeat center;background-size: 100%;transition: .3;}
.lifestyle-1:hover{opacity: .7;}
.living-4{background:url('../images/newLogo/can2.png') no-repeat center;background-size: 150%;}
.living-3{background:url('../images/Logos-larg/PNG/Living/The\ Lemon\ Tree\ &\ Co.\ Boutique\ Living.png') no-repeat center;background-size: contain;}
.living-2{background:url('../images/Logos-larg/PNG/Living/Rituals\ Village.png') no-repeat center;background-size: contain;}
.living-1{background:url('../images/Logos-larg/PNG/Living/Le\ Sidi\ Cabanas.png') no-repeat center;background-size: contain;}
.event-1{background:url('../images/Logos-larg/PNG/Events\ &\ Entertainment/Family & Friends.png') no-repeat center;background-size: contain;}
.event-2{background:url('../images/Logos-larg/PNG/Events & Entertainment/Club Clandestine.png') no-repeat center;background-size: contain;}
.event-3{background:url('../images/Logos-larg/PNG/Events & Entertainment/The Sound of The Lemon Tree.png') no-repeat center;background-size: contain;}
.event-4{background:url('../images/newLogo/balearc.png') no-repeat center;background-size: contain;}
.b-hos-1{background:url('../images/newLogo/TLT FINAL LOGO-01.png') no-repeat center;background-size: contain;}
.b-hos-2{background:url('../images/Logos-larg/PNG/Hospitality/Rituals.png') no-repeat center;background-size: 75%;}
.b-hos-3{background:url('../images/Logos-larg/PNG/Hospitality/Le Sidi Boutique Hotel & Restaurant.png') no-repeat center;background-size: contain;}
.b-hos-4{background:url('../images/Logos-larg/PNG/Hospitality/Villa Coconut.png') no-repeat center;background-size: contain;}
.b-hos-5{background:url('../images/Logos-larg/PNG/Hospitality/The Quiet Cat.png') no-repeat center;background-size: contain;}
.b-hos-6{background:url('../images/Logos-larg/PNG/Hospitality/Can\ Limon\ El\ Restaurante.png') no-repeat center;background-size: contain;}
.b-hos-7{background:url('../images/Logos-larg/PNG/Hospitality/The Origins.png') no-repeat center;background-size: contain;}

.branch-media-low{display: none;}
@media(max-width:1199px){
  .branch-media-heig{display: none;}
.branch-media-low{display: block;}

}
.w-66{width: 66%;}
/* added by me */
@media (max-width:767px){
  .imgbox-w-h {
    height: auto;
}
.about-section .container .text-center{
  margin-bottom: 0px !important;
}
.box-section-info {
  margin-bottom: 0px !important;
}
.my-7-5 {margin-top: 0rem !important;}
.about-tlt .tlt-concept p{font-size: 18px !important;}
.tlt-hospitality {
  padding: 3rem  0rem;
}
.branch-tree p {margin-top: 2rem;}
/* .box-section-info {bottom:0;z-index: 1000;} */
.wed-ul{line-height: 1,2;}
.logo-box-brands-hos{margin:12px 0}
.w-66{width: 90%;}
}